
<div class="col">
    <label for="fname"><input type="text" id="fname" name="firstname" placeholder="Prop name.."></label>
    <input type="text" id="fname" name="firstname" placeholder="Prop value..">

</div>

@code {

}
